h1, p {
    color: black;
    margin-top: 10px;
}

#initals {
    width: 25px ;
}

#container, #main-container, .countdown, #quiz-container, #scoreboard-container {
    background-color: grey;
    text-align: center;
    margin: 25px;
}

#next, #previous, #restart, #multipleChoice {
    display: none;
}

#scoreboard-container {
    visibility:hidden;
}
